/* --------------------------------------------------------- */
/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --------------------------------------------------------- */
/* INÍCIO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    /* CORES */
    --green: #51f680;
    --white: #fff;
    --dark: #1e1c2a;
    --lightgreen: #95ffb3;
    --blue: #3AB1FD;
    --lightblue: #46FADF;


    /* TRANSIÇÕES */
    --transicao-0: all 0.2s ease;
    --transicao-1: all 0.3s ease;
    --transicao-2: all 0.4s ease;
    --transicao-3: all 0.5s ease;
}

body {
    height: 100vh;
    color: var(--dark);
    background: #E4E9F7;
}

/*------------------------------------------------
Funcionario Nav bar
--------------------------------------------------*/

.container_nav_func {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 78%;
    height: 5%;

}

.container_nav_func .nav_func {
    display: flex;
    background-color: var(--white);
    border-radius: 5px;
}

.nav_func li {
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 5px;
}

.nav_func li:hover {
    color: var(--white);
    background-color: var(--green);
}

.nav_func li a {
    color: var(--dark);
}

.nav_func li a:hover {
    color: var(--white);
}

.container_func {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 78%;
    display: flex;
    flex-wrap: wrap;
}

.container_func .func {
    height: 20%;
    width: 20%;
    margin-top: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: var(--white);
    border-radius: 5px;
    text-align: center;
}

.container_func .func img {
    width: 50%;
    margin-top: -50%;
    border-radius: 50%;
}