/* --------------------------------------------------------- */
/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --------------------------------------------------------- */
/* INÍCIO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    /* CORES */
    --green: #51f680;
    --white: #fff;
    --dark: #1e1c2a;
    --lightgreen: #95ffb3;
    --blue: #3AB1FD;
    --lightblue: #46FADF;


    /* TRANSIÇÕES */
    --transicao-0: all 0.2s ease;
    --transicao-1: all 0.3s ease;
    --transicao-2: all 0.4s ease;
    --transicao-3: all 0.5s ease;
}

body {
    height: 100vh;
    color: var(--dark);
    background: #E4E9F7;
}

.escuro{
    transition: 0.5s;
    background: #18191A;
    color: var(--white);
}

#Nome{
    font-weight: 700;
}

.foto_perfil_usuario{
    display: flex;
    column-gap: 20px;
}

.foto_perfil_usuario img{
    position: relative;
    width: 50px;
    border-radius: 50%;
}

.nome_perfil_usuario{
    display: flex;
    flex-direction: column;
}

.container_principal {
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
}

.container_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 45px;
    width: 100%;
    height: 100%;
    padding-left: 190px;
    padding-right: 100px;
    padding-top: 78.42px;
}

.LogoAnimado{

    animation-name: flutuar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    width: 50%;
}

.divInterna_Botoes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15%;
    column-gap: 20px;
}

.estiloBotoes{
    border: solid 2px #45D496;
    font-size: 35px;
    font-weight: 700;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    width: 30%;
    height: 100%;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    overflow: none;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.estiloBotoes:hover{
    background-color: #45D496;
    scale: 1;
    color: white;
    cursor: pointer;
}

.icone{
    user-select: none;
}

.TextoLogo{
    text-align: center;
}

.modal{

    width: 50%;
    height: 50%;

    margin: auto;

    border-radius: 20px;
    
    padding: 1em;
    text-align: justify;

    & > *{
        margin: 0 0 0.5rem 0;
    }


}

.modal::backdrop{
    background: linear-gradient(45deg, #45D496, #3AB1FD);
    opacity: .4;
}

.botaoFechar{
    display: flex;

    justify-content: center;
    align-items: center;

    margin-top: auto;
}

.botao-fechar{
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    margin: 8px 0;
    width: auto;
    font-weight: 700;
    display: inline-flex;
    padding: 6.995px 25.648px;
    align-items: flex-start;
    gap: 4.663px;
    border-radius: 4.663px;
    background: #45D496;
}

.containerModal{

}

@keyframes flutuar {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.active,
.active .icone,
.active .menu_texto{
    background: #57d8a0;
    color: black;
}