/* --------------------------------------------------------- */
/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --------------------------------------------------------- */
/* INÍCIO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    /* CORES */
    --green: #51f680;
    --white: #fff;
    --dark: #1e1c2a;
    --lightgreen: #95ffb3;
    --blue: #3AB1FD;
    --lightblue: #46FADF;


    /* TRANSIÇÕES */
    --transicao-0: all 0.2s ease;
    --transicao-1: all 0.3s ease;
    --transicao-2: all 0.4s ease;
    --transicao-3: all 0.5s ease;
}

body {
    height: 100vh;
    color: var(--dark);
    background: #E4E9F7;
}
