/* --------------------------------------------------------- */
/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --------------------------------------------------------- */
/* INÍCIO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    /* CORES */
    --btn_green:#45D496;
    --green:#51f680;
    --white:#fff;
    --dark:#1e1c2a;
    --lightgreen:#95ffb3;
    --blue: #3AB1FD;
    --bege: #D7D588;
    --lightblue:#46FADF;
    --fundo: #F1F1F1

    
    /* TRANSIÇÕES */
    --transicao-0: all 0.2s ease;
    --transicao-1: all 0.3s ease;
    --transicao-2: all 0.4s ease;
    --transicao-3: all 0.5s ease;
}

body{
    height: 100vh;
    color: var(--dark);
    background: var(--fundo);
}

/*------------------------------------------------
Funcionario Nav bar
--------------------------------------------------*/

.nav_func{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 63%;
    height: 5%;
    display: flex;
    background-color: var(--white);
}

.nav_func li{
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* TELA USUARIOS */

.container_cadastroUser{
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
}

.container_view{
    width: 100%;
    height: 100%;
    padding-left: 190px;
    padding-right: 100px;
    padding-top: 150px;
}

.container_form{
    display: flex;
    column-gap: 20px;
    border-radius: 13.16px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 2%;
    width: 100%;
    height: fit-content;
}

/* FORMS */

.container_foto_forms{
    width: fit-content;
}

.container_grid2{
    width: 100%;
    height: 100%;
}

.titulo1{
padding-bottom: 20px;
}

.labelTitulos{
    font-size: 21px;
    color: var(--bege);
    font-weight: 700;
}

.foto_forms{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("https://picsum.photos/150/150");
}

.linhas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.linha1{
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 20px;
}

.linha2{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;  
    column-gap: 20px;
}

.linha2_semMargem{
    display: flex;
    flex-direction: row;
    width: 100%;  
    column-gap: 20px;
}

.linha3{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
}

.linha4{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
}

.barrinha{
    background-color: lightgrey;
    width: 100%;
    height: 2px;
}

.campos{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.labelForms{
    font-weight: 700;
}

input{
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

select{
    border-color: black;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#cadastroCidade{
    width: calc(100% / 3);
}

.btn_cadastrar{
    border-color: var(--btn_green);
    background-color: var(--btn_green);
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
}

.active,
.active .icone,
.active .menu_texto{
    background: #57d8a0;
    color: black;
}