/* --------------------------------------------------------- */
/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --------------------------------------------------------- */
/* INÍCIO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    /* CORES */
    --btn_green: #45D496;
    --green: #51f680;
    --white: #fff;
    --dark: #1e1c2a;
    --lightgreen: #95ffb3;
    --blue: #3AB1FD;
    --bege: #D7D588;
    --lightblue: #46FADF;
    --fundo: #F1F1F1;


    /* TRANSIÇÕES */
    --transicao-0: all 0.2s ease;
    --transicao-1: all 0.3s ease;
    --transicao-2: all 0.4s ease;
    --transicao-3: all 0.5s ease;
}

body {
    height: 100vh;
    color: var(--dark);
    background: var(--fundo);
}

/* TELA USUARIOS */

.container_usuarios {
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
}

.container_view {
    width: 100%;
    height: 100%;
    padding-left: 190px;
    padding-right: 100px;
    padding-top: 130px;
}

.container_pesquisa {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    height: fit-content;
}

.container_conteudo {
    display: flex;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: fit-content;
}

.container_form{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    border-radius: 13.16px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 2%;
    width: 100%;
    height: fit-content;
}
/* NAVBAR TIPOS */

.container_tipo {
    background: white;
}

.container_tipo ul {
    display: flex;
    flex-direction: row;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.tipo1 {
    grid-area: 1 / 1 / 2 / 2;
}

.tipo2 {
    grid-area: 1 / 2 / 2 / 3;
}

.tipo3 {
    grid-area: 1 / 3 / 2 / 4;
}

.tipo4 {
    grid-area: 1 / 4 / 2 / 5;
}


.tipos{
    padding: 5px;
    border-radius: 5px;
    color: #686868;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tipos:hover{
    background: var(--btn_green);
    color: white;
    font-weight: 700;
    transition: 0.5s;
}

.grid_pesquisa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    }
    
    .vazio1 { grid-area: 1 / 1 / 2 / 2; }
    .vazio2 { grid-area: 1 / 2 / 2 / 3; }
    .pesquisa { grid-area: 1 / 3 / 2 / 4; }

input[type="text"]{
    height: 35px;
    width: 100%;
    padding: 12px 20px;
    border-style: hidden;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);
}

.iconepesquisa{
    width: fit-content;
    height: 100%;
    font-size: 35px;
    color: var(--btn_green);
}

.linha{
    display: flex;
    column-gap: 20px;
}

/* CARDS DE USUÁRIOS */

.container_card {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.container_card .info {
    width: 20%;
    margin: 2.5%;
    text-align: center;
}

.container_card .info div {
    margin-top: -20%;
    width: 100%;
    height: fit-content;
    padding-top: 20%;
    border-radius: 5px;
    background: #F1F1F1;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
}

.container_card div img {
    position: relative;
    width: 100px;
    border-radius: 50%;
}

.container_card .info h4{
    color: #0B0B0B;
    font-size: 17px;
    font-weight: 700;
}

.container_card .info h3{
    color: #686868;
    font-size: 15px;
    font-weight: 500;
}



/* Botão Usuário ativo */
.active,
.active .icone,
.active .menu_texto {
    background: #57d8a0;
    color: black;
}