/* CONTAINER */
#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    height: 70%;
    border-radius: 15px;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* PARTE PARA VOLTAR PARA LOGIN */

#login {
    background-image: linear-gradient(to right, #45D496, #51F680);
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);
    justify-content: center;
    text-align: center;
}

#login h1 {
    position: absolute;
    top: 5%;
    width: 100%;
}

#login p {
    position: absolute;
    text-align: justify;
    width: 100%;
    padding: 50px;
    top: 20%;
}

#login a {
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    border-radius: 2px;
    border: 2px solid;
    font-size: 16px;
    font-weight: 700;
    background: rgba(217, 217, 217, 0.09);
    box-shadow: -11px 11px 11px 0px rgba(255, 255, 255, 0.09) inset, 11.866666793823242px -11.866666793823242px 11.866666793823242px 0px rgba(165, 165, 165, 0.09) inset;
    backdrop-filter: blur(5.814666748046875px);
    padding: 5px;
}

/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* CADASTRO */
#cadastro {
    position: absolute;
    text-align: center;
    background-color: #f1f1f1;
    left: 50%;
    width: 50%;
    height: 100%;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

#cadastro_conteudo{
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#cadastro h1 {
    position: relative;
    margin-bottom: 25px;
}

#cadastro input {
    background-color: #d9d9d9;
    border: 0 solid;
    position: relative;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

#cadastro a {
    position: relative;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
}

#cadastro button {
    border-color: #51F680;
    background-color: #51F680;
    position: relative;
    border-radius: 5px;
    margin: 50px;
    padding: 10px;
    width: 30%;
    font-size: 16px;
    font-weight: 700;
}

/* Tamanho das Input's */
#campo_nomeCli{
    width: 50%;
}
#campo_nomeAdm{
    width: 50%;
}

#campo_email{
    width: 50%;
}
#campo_senha{
    width: 50%;
}
/* --------------------------------------------------------- */