
/*---------------------------------------------------
Cards de funcionarios
----------------------------------------------------*/

.container_card {
    width: 63%;
    position: absolute;
    top: 25%;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
}

.container_card .info {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5%;
    text-align: center;
}

.container_card .info div {
    margin-top: -20%;
    height: 50%;
    background-color: var(--white);
    padding-top: 20%;
    border-radius: 15px;
    box-shadow: -4px 8px #9e9c9b,}

.container_card div img {
    border-radius: 50%;
}



/*-----------------------------------------------------
Barra de tipos
------------------------------------------------------*/

.container_tipo {
    width: 60%;
    height: 6%;
    background-color: var(--white);
    position: absolute;
    top: 20%;
    left: 30%;

    border-radius: 5px;
}

.container_tipo ul {
    display: flex;
    flex-direction: row;
}

.container_tipo ul li {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
}

.container_tipo ul li:hover {
    background-color: var(--green);
    color: var(--white);

}

.container_tipo ul li a {
    color: var(--dark);
    text-decoration: none;
}
