:root {
    --verdeDropdown: rgba(69, 212, 150, 0.45);
    ;
}

body {
    background: #F1F1F1;
}

.navigation{
    z-index: 2;
}

.escuroNav{
    z-index: 2;
}

.menuLateral{
    z-index: 3;
}

.container_view {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 190px;
    padding-right: 100px;
    padding-top: 150px;
}

.container_form {
    position: relative;
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    border-radius: 13.16px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 2%;
    width: 100%;
}

.formulario_wrapper2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
    margin-top: 10px;
    row-gap: 20px;
    padding: 2%;
    background-color: white;
}

.tituloPontosDor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_inputs_pontosDor{
    width: 100%;
    display: flex;
    column-gap: 20px;

}

.inputsPontosDor{
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.formPontosDor{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.escuro .container_form {
    background: #242526;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.08), 0px 6px 24px 0px rgba(255, 255, 255, 0.05);
    transition: 0.3s;
}

.escuro .Avaliacoes{
    background: #18191A;
    transition: 0.3s;
}

.escuro .Avaliacoes button{
    background: #242526;
    color: white;
    transition: 0.3s;
}

.escuro .container_parte_inferior{
    background: #18191A;
}
/* FORMULÁRIO DE ATENDIMENTOS */

.wrapper_formulario {
    display: flex;
    width: 100%;
    column-gap: 30px;
}

.foto_paciente {
    border-radius: 50%;
}

.formulario_esquerda {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.formulario_direito{
    width: 60%;
}

.formulario_paciente_container {
    display: flex;
    column-gap: 20px;
}

.formulario_paciente {
    display: flex;
    flex-direction: column;
}

.formulario_paciente span {
    font-weight: 700;
}

.Dropdowns {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background: var(--verdeDropdown);
    font-weight: 700;
    padding: 20px;
}

.Dropdowns details {
    padding: 5px;
    border-bottom: 2px solid gray;
    cursor: pointer;
}

summary{
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.texto_summary{
    font-weight: 500;
}

.right{
    margin-left: auto;
}

.Avaliacoes {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: #D9D9D9;
    border: 7px;
}

.Avaliacoes::-webkit-scrollbar{
    background-color: var(--verdeDropdown);
    border-radius: 15px;
    width: 5px;

}

.Avaliacoes::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 15px;
    width: 5px;
}

.Avaliacoes button {
    padding: 10px;
    border: 0;
    width: 100%;
    text-align: left;
}

/* MEIO */

.container_formulario_meio{
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario_meio{
    height: 75%;
    width: 6px;
    border-radius: 40px;
    background: #45D496;
}

/* PARTE DA DIREITA */

.formulario_direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textArea_Form{
    resize: none;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 20px;
}

.faixa_escolha{
    display: flex;
    column-gap: 20px;
}

.texto_escolha{
    font-weight: 700;
}

.selecionado{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #45D496;
    border-color: rgb(118, 118, 118), rgb(133, 133, 133);
}

.dia_avaliacao{
    text-align: right;
    font-weight: 700;
    padding: 3px;
    border: 1px solid;
}

.container_parte_inferior{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
    margin-top: 10px;
    row-gap: 20px;
    padding: 2%;
    background-color: white;
}

.container_texto_anexos{
    display: flex;
    justify-content: center;
}

.texto_anexos{
    font-weight: 700;
}

.container_anexoArquivos{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.anexoItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 20%;
    height: 120px;
    border: 0;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 30px;
    color: white;
    background: #45D496;
    cursor: pointer;
}

.anexoItemText{
    font-size: 16px;
}

.container_BarraPesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraPesquisa{
    width: 70%;
    background: #efefef;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
}

.inputPontoDor{
    width: 70%;
    background: #efefef;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
}

.btn_salvar_container{
    display: flex;
    justify-content: center;
}

#btn_salvar{
    display: flex;
    width: 150px;
    padding: 6px 24px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
    color: white;
    border: 0;

    border-radius: 4.5px;
    background: #45D496;
}

#btn_criarPontosDor{
    display: flex;
    width: 150px;
    padding: 6px 24px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
    color: white;
    border: 0;

    border-radius: 4.5px;
    background: #45D496;
}

input[type=file]{

    display: none;
}