body{
    min-height: 870px;
}

.container_view{
    width: 100%;
    height: 100%;
    padding-left: 150px;
    padding-right: 60px;
    padding-top: 130px;
    row-gap: 0px;
}

.container_card{
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
}
.container_card .info2 {
    width: 20%;
    text-align: center;
}

.container_card .info2 div {
    column-gap: 10px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 5%;
    height: fit-content;
    border-radius: 5px;
    background: #F1F1F1;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 6px 24px 0px rgba(0, 0, 0, 0.05);

    
}

.container_card div img {
    position: relative;
    width: 50px;
    border-radius: 50%;
}

.container_card .info2 h4{
    align-items: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0B0B0B;
    font-size: 15px;
    font-weight: 700;
}

.titulo{
    display: flex;
    column-gap: 10px;
    font-weight: 700;
    font-size: 35px;
    color: #45D496;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container_pesquisa {
    margin-bottom: 10px;
}

.container_form {
    margin-top: 10px;
}

.container_usuarios{
    height:auto;
}