/* --------------------------------------------------------- */
/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --------------------------------------------------------- */
/* INÍCIO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    /* CORES */
    --green:#51f680;
    --white:#fff;
    --dark:#1e1c2a;
    --lightgreen:#95ffb3;
    --blue: #3AB1FD;
    --lightblue:#46FADF;

    
    /* TRANSIÇÕES */
    --transicao-0: all 0.2s ease;
    --transicao-1: all 0.3s ease;
    --transicao-2: all 0.4s ease;
    --transicao-3: all 0.5s ease;
}

body{
    height: 100vh;
    color: var(--dark);
    background: #E4E9F7;
}

.escuro{
    transition: 0.5s;
    background: #18191A;
    color: var(--white);
}

.escuro .container_form {
    background: #242526;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.08), 0px 6px 24px 0px rgba(255, 255, 255, 0.05);
    transition: 0.3s;
}

/* --------------------------------------------------------- */
/* NAVBAR */
.navigation{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px 100px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
    height: 78.42px;
    width: 100%;
    background: var(--white);
    transition: 0.5s;
    position: fixed;
    z-index: 2;
}

.escuroNav{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px 100px;
    height: 78.42px;
    width: 100%;
    background: #242526;
    transition: 0.5s;
    position: fixed;
    z-index: 2;
    color: white;
}
/* --------------------------------------------------------- */

.menuLateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height:100%;
    padding: 20px 14px;
    background: #45D496;
    transition: var(--transicao-1);
    z-index: 3;
}

.menuLateral.fecharMenu{
    width: 90px;
}

.menuLateral.fecharMenu .menu_texto{
    opacity: 0;
}

.menuLateral .menu_container{
    margin-top: 20px;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuLateral header{
    position: relative;
}

.menuLateral .imagem{
    display: flex;
    align-items: center;
}

.menuLateral .imagem-texto{
    display:flex;
    align-items: center;
}

.logotipo{
    width: 100%;
}

.menuLateral li{
    height: 50px;
    display: flex;
    text-align: center;
    transition: var(--transicao-1);
    margin-top: 10px;
}

.menuLateral li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--transicao-1);

    color: var(--white);
    font-size: 18px;

}

.menuLateral li a:hover{
    background: #57d8a0;
}

.menuLateral li a:hover .icone,
.menuLateral li a:hover .menu_texto{
    color: black;
}

.menuLateral .icone{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.menuLateral .menu_texto{
    transition: var(--transicao-0);
}

.menuLateral .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.menuLateral li a button{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--transicao-1);

    color: var(--white);
    font-size: 18px;

}

.menuLateral li a button:hover{
    background: #57d8a0;
}

.menuLateral li a button:hover .icone,
.menuLateral li a button:hover .menu_texto{
    color: black;
}

.botaoConfig{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.modalEscuro {
    background: #242526;
    color: white;
}