#container {
    display: inline-block;
    position: absolute;
    background-color: blue;
    justify-content: center;
    width: 60%;
    height: 50%;
    left: 20%;
    top: 20%;
    border-radius: 15px;
}

#cadastro {
    position: absolute;
    background-color: #f1f1f1;
    left: 50%;
    width: 50%;
    height: 100%;
    justify-content: center;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

#login h1 {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 100%;
}

#login p {
    position: absolute;
    text-align: justify;
    width: 80%;
    top: 25%;
    left: 10%;
}

#login a {
    position: absolute;
    top: 85%;
    left: 30%;
    width: 50%;
    background-color: #45D496;
}



#login {
    background-image: linear-gradient(to right, #45D496, #51F680);
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    justify-content: center;
}

#cadastro h1 {
    position: absolute;
    top: 2%;
    left: 30%;
}

#cadastro input {
    background-color: #d9d9d9;
    position: relative;
    border-color: #d9d9d9;
    border-radius: 10px;
    margin: 7px;
    padding: 5px;
    top: 10%;
    left: 25%;
}

#cadastro a {
    position: absolute;
    left: 20%;
    top: 75%;
    font-size: xx-small;
}

#cadastro button {
    border-color: #51F680;
    background-color: #51F680;
    position: absolute;
    top: 80%;
    left: 35%;
    border-radius: 5px;
    height: 15%;
    width: 30%;
}