@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* INÍCIO + NAVBAR */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --green:#51f680;
    --white:#fff;
    --dark:#1e1c2a;
    --lightgreen:#95ffb3;
    --blue: #3AB1FD;
    --lightblue:#46FADF;
}

.separacao{
    display: block;
}

.menuResponsivoIcone{
    display: none;
}

.menuResponsivoItens{
    display: none;
}

body{
    color: var(--dark);
    background: var(--white);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: 0.5s;
    position: fixed;
    z-index: 4;
}

/* RESTO DA NAVBAR E LOGOTIPO */
.logotipo {
    position: relative;
    width: 100px;
    left: 15px;
    background-size: contain;
}

.logo{
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 600;
}
.logo span{
    color: var(--green);
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover, nav a.ativo{
    color: var(--green);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
/* --------------------------------------------------------- */

/* SECTION HOME */
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1rem;
    color: var(--green);
    margin-bottom: 0.50rem;
}
.home-text .text-h1{
    font-size: 3.20rem;
    margin-bottom: 1rem;
    line-height: 3.25rem;
}
.home-text p{
    font-size: 0.80rem;
    margin-bottom: 2.75rem;
    max-width: 35rem;
}
.home-btn{
    padding: 15px 115px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background-color: var(--lightgreen);
}

.nav-btn{
    padding: 5px 20px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s;
}
.nav-btn:hover{
    background-color: var(--lightgreen);
}

.home-img img{
    width: 600px;
    position: static;
    z-index: -2;
}

  footer {
    height: 35px;
    background: linear-gradient(to bottom, var(--green), var(--lightgreen));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /* --------------------------------------------------------- */

  /* Section "Nossas Soluções" */

  .solucao{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    background: linear-gradient(270.62deg, #51F680 21.15%, #46D794 92.94%, #45D496 99.46%);;
}

.solu-text{
    text-align: center;
}

.solu-titulo{
    font-size: 2.0rem;
}

.barrinha{
        content: '';
        width: 70px;
        height: 2px;
        display: block;
        margin: 11px auto 34px;
        background: black;
}
.hexagonos{
width: 300px;
margin: 20px;
margin-top: 80px; 
display: inline-block;
transition: all .2s ease-in-out;
}

.hexagonos:hover{
	transform: scale(1.1);
}


/* --------------------------------------------------------- */

  /* Section "Login" */

  .Login{
    /* width: 100%; */
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 0px 10%;
    background-image: url("/Imagens/Idoso.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .login-img{
    position: relative;
    top: 65px;
    width: 500px;
    display: flex;
    z-index: 0;
    vertical-align: bottom;

} */

.login-text{
    position: relative;
    color: #F1F1F1; 
    top: 50%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.24);
    border: 0.707292px solid rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(8px); 
}

#barrinha_login{
    background: #F1F1F1;
}

.login-titulo{
    font-size: 2.0rem;
}

.divLoginBtn{
    align-items: center;
    display: inline-block;
    justify-content: space-evenly;
    padding-top: 10vh;
}

.login-btn{
    
    padding: 15px 100px;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    margin: 20px;
}

.login-btn:hover{
    background-color: darkblue;
}

/* --------------------------------------------------------- */

  /* Section "Quem Somos?" */

  .QuemSomos{
    width: 100%;
    height: 100vh;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.quemS-text{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    display: block;
}


h1{
    margin-top: 2px;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
  }

.column{
    align-items: center;
    width:20%;
    float:left;
    padding: 0px 10px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}


.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background: linear-gradient(to bottom, var(--green), var(--lightgreen));
    text-align: center;
    border-radius: 40px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    min-width: 300px;
}

.title{
    color: gray;
    font-size: 18px;
}

.botaoCards{
    border: none;
    padding: 8px;
    display: inline-block;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 70%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

a:hover,button:hover{
    opacity: 0.6;
}

.rodape{
    height: 35px;
    background: var(--green);
    width: 100%;
}

.rodape2{
    height: 500px;
    width: 100%;
}

.rodape2_text{

}

/* --------------------------------------------------------- */

/* DESIGN RESPONSIVO PARA DISPOSTIVOS MOBILE */
@media screen and (max-width: 600px) {

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px ;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: 0.5s;
    position: fixed;
    z-index: 4;
}

.logotipo {
    position: relative;
    width: 100px;
    left: 5px;
    background-size: contain;
}

.menuResponsivoIcone{
display: block;
}

.menuResponsivoIcone button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    }

.menuResponsivoItens ul{
    display: block;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    background: white;

}

.menuResponsivoItens .nav-item2{
    display: block;
    padding-top: 1.2rem;
    
}

.abrir{
    display: block;
    position: absolute;
    right: 0;
    top: 70px;
    left: 0;
}

.navigation .navDesktop{
    display: none;
}

.home{
    display:inline;
}

.home-img img{
    width: 100%;
}

.home-img:after {
    display: none;
  }

  .nav-btn{
    display: none;
}

.home-text{

    margin: 20px;
    margin-top: 50px;
    align-items: center;
    
}

.home-text .text-h4{
    font-size: 0.75rem;
    color: var(--green);
    margin-bottom: 0.50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-text .text-h1{
    font-size: 1.60rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    text-align: center;
    
}
.home-text p{
    font-size: 0.80rem;
    margin-bottom: 1.00rem;
    max-width: 35rem;
    text-align: center;
}
.home-btn{
    padding: 15px 45px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-btn:hover{
    background-color: var(--lightgreen);
}

.flutuar.hexagonos{
    padding-top: 100px;
}

/* Section "Nossas Soluções" */


  .solucao{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    background: linear-gradient(to bottom, var(--green), var(--lightgreen));
}

.solu-text{
    text-align: center;
}

.solu-titulo{
    font-size: 2.0rem;
}

.barrinha{
        content: '';
        width: 70px;
        height: 2px;
        display: block;
        margin: 11px auto 34px;
        background: black;
}
.hexagonos{
width: 300px;
margin: 20px;
margin-top: 80px; 
display: inline-block;
transition: all .2s ease-in-out;
}

.hexagonos:hover{
	transform: scale(1.1);
}

/* --------------------------------------------------------- */

/* Section Login */

.Login{
    /* width: 100%; */
    width: 100%;
    height: 100vh;
    display:grid;
    align-items: center;
    padding: 0px 10%;
    background: linear-gradient(to bottom, var(--blue), var(--lightblue));
}

.login-text{
    display: none;
}

.login-titulo{
    font-size: 2.0rem;
}

.divLoginBtn{
    align-items: center;
    display: inline-block;
    padding-top: 10vh;
}

.login-btn{
    
    padding: 15px 50px;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    margin: 20px;
}


/* --------------------------------------------------------- */

/* Section Quem somos */

.QuemSomos{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--green), var(--lightgreen));
}

.quemS-text{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}


h1{
    margin-top: 2px;
}

.center-screen {
    display: block;
    align-items: center;
    text-align: center;
    margin: 20px;
    
  }

.column{
    width: 100%;
}

.row::after{
    content: "";
    clear: both;
}


.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: white;
    text-align: center;
    border-radius: 40px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.title{
    color: gray;
    font-size: 18px;
}

.botaoCards{
    border: none;
    padding: 8px;
    display: inline-block;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 70%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

a:hover,button:hover{
    opacity: 0.6;
}

/* --------------------------------------------------------- */

}

/* --------------------------------------------------------- */

/* Animações */
